{% extends "base.j2" %}
{% block title %}
{{ session['username'] }}
{% endblock %}
{% block body %}
{% if response and response.message%}
<span class="alert-msg">
    {{response.message}}
</span>
{% endif %}
<div class="history_main">
    <h2 style="text-align:center">Change Password</h2>

    <form class="change_pass_form" action="{{ url_for('change_password') }}" method="POST">
        <div class="input_box">
            <label for="current_password">Current Password</label>
            <input class="input_field" placeholder="Current Password" name="current_pass" />
        </div>
        <div class="input_box">
            <label for="current_password">New Password</label>
            <input class="input_field" placeholder="New Password" name="new_pass" />
        </div>
        <div class="input_box">
            <label for="current_password">Confirm New Password</label>
            <input class="input_field" placeholder="Confirm Password" name="confirm_pass" />
        </div>
        <input class="submit_btn" type="submit" value="Change" />
    </form>
</div>
{% endblock %}