{% extends "base.j2" %}
{% block title %}
Login
{% endblock %}
{% block body %}
{% if response and response.message%}
<span class="alert-msg">
    {{response.message}}
</span>
{% endif %}
<form action="{{ url_for('login') }}" method="POST" class="center_form">
    <div class="input_box">
        <label for="username">Username</label>
        <input class="input_field" type="text" name="username" placeholder="Username/Email" style="border: 1px solid black;">
    </div>
    <div class="input_box">
        <label for="password"> Password</label>
        <input class="input_field" style="border: 1px solid black;" type="password" name="password" placeholder="Password">
    </div>
    <div style="text-align: center;">
        <input type="submit" class="submit_btn" value="Login">
    </div>
</form>
{% endblock %}