{% extends "base.j2" %}
{% block title %}
{{ session['username'] }}
{% endblock %}
{% block body %}
{% if response and response.message%}
<span class="alert-msg">
    {{response.message}}
</span>
{% endif %}
<div>
    <span class="profile_main">
        <div class="profile_detail">
            Username: {{ session['username'] }}
            Total Solve: {{ response['total_solve'] }}
        </div>
        <div class="profile_side">
            <a href="{{ url_for('change_password') }}" class="profile_side_btn">Change Password</a>
            <a href="{{ url_for('history') }}" class="profile_side_btn">Solve History</a>
        </div>
    </span>
</div>
{% endblock %}