{% extends "base.html" %}
{% block title %}
Register
{% endblock %}
{% block body %}
{% if response%}
<div style="background-color: greenyellow;color: green;text-align: center;">
    {{response['message']}}
</div>
{% endif %}
<form action="{{ url_for('register') }}" method="POST" class="center_form">
    <div class="input_box">
        <label for="username">Username</label>
        <input type="text" class="input_field" name="username" placeholder="Username" style="border: 1px solid black;">
    </div>
    <div class="input_box">
        <label for="email">Email</label>
        <input type="text" class="input_field" name="email" placeholder="Username" style="border: 1px solid black;">
    </div>
    <div class="input_box">
        <label for="password">Password</label>
        <input class="input_field" type="password" name="password" placeholder="Password"
            style="border: 1px solid black;">
    </div>
    <div class="input_box">
        <label for="Confirm Password">Confirm Password</label>
        <input type="password" name="confirm_password" placeholder="Confirm Password" class="input_field"
            style="border: 1px solid black;">
    </div>
    <div style="text-align:  center;">
        <input type="submit" class="submit_btn" value="Register">
    </div>
</form>
{% endblock %}