.main_body{
    display: flex;
}
.admin_nav{
    position: fixed;
    height: 100vh;
    width: 20%;
    background-color: aliceblue;
}
.content{
    margin-left: 300px;
    width: 80%;
}

table, td, tr,th{
    border: 2px solid black;
    border-collapse: collapse;
}
td,th{
    padding: 2px 20px;
}
th{
    background-color: rgb(35, 35, 35);
    color: white;
}
.btn{
    border: none;
    padding: 5px 10px;
    border-radius: 10px 15px;
}
.danger{
    background-color: red;
    color: white;
}
.safe{
    background-color: rgb(4, 123, 50);
    color: white;
}