<div class="sidebar">
    <form action="http://127.0.0.1:5000/" class="side_bar row m-3 justify-content-center" method="POST">
        <!-- <label for="algo">Algorithm:</label>
        <div class="input-group">
            
             <input  name="eqn" placeholder="Enter the Algo" type="text"
                value="{{ request.form['eqn'] }}">
            <select class="my-2 form-control" id="cars" name="algo">
                <option value="volvo">Bisection Method</option>
                <option value="saab">False Position Method</option>
                <option value="fiat">Newton-Raphson Method</option>
                <option value="audi">Fixed Point</option>
            </select>
        </div> -->
        <div class="input_box">
            <label for="">Algorithm :</label>
            <select name="algo" id="algo" class="input_field" onchange="check_algo()">
                <option value="bisection" {% if request.form['algo']=='bisection' %}selected{% endif %}>Bisection Method
                </option>
                <option value="newtonRaphson" {% if request.form['algo']=='newtonRaphson' %}selected{% endif %}>
                    Newton-Raphson Method</option>
                <option value="falsePosition" {% if request.form['algo']=='falsePosition' %}selected{% endif %}>False
                    Position Method</option>
                <option value="fixedPoint" {% if request.form['algo']=='fixedPoint' %}selected{% endif %}>Fixed Point
                    Method</option>
            </select>
        </div>

        <div class="input_box">
            <label for="">Equation :</label>
            <input class="input_field" name="eqn" placeholder="Enter the Equation" type="text"
                value="{{ request.form['eqn'] }}">
        </div>

        <!-- <input type="text" class="col-12 my-2" name="eqn" placeholder="Enter the Equation"> -->
        <div class="input_box">
            <label for="">Guess No. First:</label>
            <input class="input_field" name="a" placeholder="Guess number 1" type="number"
                value="{{ request.form['a'] }}">
        </div>
        <div class="input_box" id="b_div">
            <label for="">Guess No. Second:</label>
            <input id="b" class="input_field" name="b" placeholder="Guess number 2" type="number" value="{{ request.form['b'] }}">
        </div>
        <div class="input_box" style="justify-content: flex-end;">
            <button class="submit_btn" type="submit">Submit</button>
        </div>

    </form>
    {% if response.data_status: %}
    <div id="ready_msg" class="info_msg">Ready to Run</div>
    {% endif %}
    <div class="">
        <table id="data_table">
            <thead>
                <tr>
                    {% for head in response['header'] %}
                    <th>{{head}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- {% for data in response['iteration'] %}
                <tr>
                    <td>{{ loop.index }}</td>
                    {% for head in response['header'][1:] %}
                    <th>{{ data[head] }}</th>
                    {% endfor %}
                </tr>
                {% endfor %} -->
            </tbody>

        </table>
        <div id="complete_msg" class="info_msg" style="display: none;">Completed Table</div>
        <!-- <div>
            Therefore the root = {{ response['root'] }}
        </div> -->
        <div class="action">
            <div class="btn_flex">
                <button class="btn btn_primary"><a class="disable_link_style" href="{{url_for('history')}}">History</a></button>
                <button class="btn btn_danger" id="btn_prev" onclick="previous_btn()">Previous</button>
                <button class="btn btn_primary">Complete</button>
                <button class="btn btn_go" id="btn_next" onclick="next_btn()">Next</button>
            </div>
        </div>
    </div>
</div>
<style>
    .sidebar {
        position: fixed;
        width: 40%;
        background-color: rgb(215, 215, 215);
        height: 95vh;
    }
</style>
<script>
    var response = JSON.parse('{{ response| tojson }}');
    res_tbl_head = response.header
    res_data = response.iteration
    console.log(res_data)


    var table = document.getElementById("data_table")
    table.style.display = "None"
    var current_val = -1

    // when page is created
    var btn = document.getElementById("btn_prev");
    btn.disabled = true;


    var algo = document.getElementById('algo');
    var val = algo.value;

    if (val == "newtonRaphson") {
        var b_div = document.getElementById('b_div');
        b_div.style.display = "none"
    }

    function validate_input() {

    }

    // when event is occur
    function check_algo() {
        var algo = document.getElementById('algo');
        var val = algo.value;

        if (val == "newtonRaphson" || val == "fixedPoint") {
            var b_div = document.getElementById('b_div');
            b_div.style.display = "none"
        }
        else {
            var b_div = document.getElementById('b_div');
            b_div.style.display = "flex"
        }
    }

</script>