{% extends "base.j2" %}
{% block title %}
Home
{% endblock %}
{% block body %}
{% if response.message and not response.status %}
<span class="alert-msg">
    {{response.message}}
</span>
{% endif %}
<div class="main">
    {% include './components/sidebar.j2' %}
    {% include './components/graph.j2' %}
</div>
</div>
<script>
    // var response = JSON.parse('{{ response| tojson }}');
    // data = response.iteration
    // draw_chart(data)
    function next_btn() {
        if (current_val + 2 >= res_data.length) {
            var btn = document.getElementById("btn_next");

            // Disable the button
            btn.disabled = true;
        }
        var btn = document.getElementById("btn_prev");

        // Disable the button
        btn.disabled = false;
        ++current_val;

        // Select the table
        var ready_msg = document.getElementById("ready_msg");
        ready_msg.style.display = "none"
        var table = document.getElementById("data_table");
        table.style.display = "table"

        // Create a new table row
        var newRow = document.createElement("tr");
        // Create cells and set their content

        // for indexing

        var i = document.createElement("td");
        i.textContent = current_val + 1;
        newRow.appendChild(i);


        // Append the cells to the row
        var count = 1
        res_tbl_head.forEach(function (head, index) {
            // Create cells and set their content
            if (index > 0) {
                var col = document.createElement("td");

                // col.textContent = "test";
                // console.log(res_data[current_val][head])
                col.textContent = res_data[current_val][head];

                // Append the cells to the row
                newRow.appendChild(col);
                count++;
            }

        });
        addData(current_val,res_data[current_val]['a'],res_data[current_val]['f(a)'])
        addData(current_val,res_data[current_val]['b'],res_data[current_val]['f(b)'])

        // Append the new row to the table's tbody element
        table.querySelector("tbody").appendChild(newRow);
        if (current_val + 1 == res_data.length){
            var msg = document.getElementById("complete_msg");

            // Disable the button
            msg.style.display = "block";
        }
        

    }
    function previous_btn() {
        var table = document.getElementById('data_table');
        var rowCount = table.rows.length;
        if (current_val <= 0) {
            var btn = document.getElementById("btn_prev");
            // Disable the button
            btn.disabled = true;
        }
        if (rowCount > 0) {
            table.deleteRow(rowCount - 1);
            current_val--;
        }
        if ((current_val +1) < res_data.length){
            var msg = document.getElementById("complete_msg")
            msg.style.display = "none"
            var btn = document.getElementById("btn_next");
            // Disable the button
            btn.disabled = false;   
        }
    }
</script>
{% endblock %}